label {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 50px;
  padding: 8px;
}

.logininput {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
  width: 388px;
}
.logininput:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.emailinput {
  display: flex;
  gap: 15px;
  align-items: center;
}

.passwordinput {
  display: flex;
  gap: 15px;
  margin-left: -34px;
  align-items: center;
}

.button {
  display: flex;
  height: 38px;
  width: 274px;
  align-items: center;
  border-radius: 8px;
  background-color: #a9bcff;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  margin: 40px;
}
